/* ELEMENT STYLES */

html,body{
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-width: 350px;
}

#template {
    display: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    user-select: none;
}

/* ANIMATIONS */
@keyframes flashOnLoad {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* GENERAL CLASSESS */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.inline-group {
    display: flex;
    flex-flow: row nowrap;
    /*width: 100%;*/
    /*height: 100%;*/
}

.inline-group.column {
    flex-flow: column nowrap;
}

.inline-group > span,
.inline-group > button {
    flex: 1 1;
    position: relative;
    padding: 8px;
    border: none;
    border-right: 1px solid grey;
    background: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.inline-group > span:last-child,
.inline-group > button:last-child {
    border-right: none;
}

.inline-group.column > span,
.inline-group.column > button {
    border-right: none;
    border-bottom: 1px solid grey;
}

.inline-group.column > div:last-child,
.inline-group.column > span:last-child,
.inline-group.column > button:last-child {
    border-right: none;
}

.button[disabled] {
    background: #dadada;
    cursor: default;
}

.button:hover, .button:focus {
    background: #b3b3b3;
}


.button:active {
    background: black;
    color: white;
}

.button[disabled]:hover,
.button[disabled]:active {
    background: #dadada;
}

.button:active > img {
    filter: invert() brightness(0.5);
}

/* SPECIFIC STYLES */
.card {
    /*border-bottom: 2px solid black;*/
    /*overflow: hidden;*/
    box-shadow: 0px 1px 4px -2px black;
    background: white;
    margin-bottom: 6px;
    /*font-size: 18px;*/
    /*padding: 8px*/
    border-radius: 6px;
    /*overflow: hidden;*/
}

.card-container {
    max-height: 350px;
    overflow-y: auto;
}

.header {
    position: relative;
    min-height: 60px;
    padding: 20px 12px;
    overflow: hidden;
}

.header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    z-index: 1;
    background: grey;
    background: var(--color);
}

.header .name {
    font-size: 20px;
}

.header .actions {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /*margin-right: -100%;*/
    /*opacity: 0;*/
    background: white;
    transition: 0.25s margin-right;
    transition: 0.25s opacity;
}

.actions > span {
    padding: 0;
    position: relative;
}

.actions .button {
    padding: 20px 16px;
}

.actions .button {
    width: 100%;
}

.actions .button[name="options"] {
    /*width: auto;*/
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 3px;
    height: 16px;
}

.actions [disabled] .button[name="options"],
.actions [disabled]+.button[name="options"] {
    display: none;
}

.actions .button[name="options"]::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background-image: url("../icons/svg/down.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    filter: invert() brightness(0.8);
}

.actions .button.active[name="options"]::before {
    background-image: url("../icons/svg/up.svg");
}

.actions .button > img {
    height: 100%;
    width: auto;
    filter: invert() brightness(0.8);
}

.actions .button[disabled] > img,
.actions:hover .button[disabled] > img,
.actions:focus-within .button[disabled] > img {
    filter: invert() brightness(0.7);
}

.header:focus-within .actions {
    transition: 0s margin-right;
    transition: 0s opacity;
}

.header:hover .actions, .header:focus-within .actions {
    margin-right: 0;
    /*opacity: 1;*/
    /*box-shadow: 2px 0px 6px 2px black;*/
}

.actions:hover .button>img, .actions:focus-within .button>img {
    filter: brightness(0);
}

/*.actions:hover .button[disabled]>img, .actions:focus-within .button[disabled]>img {*/
    /*filter: none;*/
/*}*/

.actions:hover .button[name="options"]::before, .actions:focus-within .button[name="options"]::before {
    filter: none;
}

.expando {
    position: relative;
    width: 100%;
    /*padding: 8px;*/
    box-shadow: 0px 3px 6px -4px black inset;
    background: #eaeaea;
    /*opacity: 0;*/
    animation: flashOnLoad 0.15s linear; 
}

.expando::before {
    content: "";
    width: 100%;
    /*! background: red; */
    top: 0;
    left: 0;
    height: 5px;
    position: absolute;
    z-index: 9;
    box-shadow: 0px 2px 6px -4px black inset;
}

.card .expando {
}

.expando .button {
    padding-top: 12px;
    padding-bottom: 8px;
}

.quick-actions {
    background: grey;
    /*box-shadow: 1px 0px 3px -1px;*/
    height: 36px;
    text-align: center;
}

.quick-actions > button {
    display: inline-block;
    height: 100%;
    padding: 6px;
}

.quick-actions > button > img {
    height: 100%;
    width: auto;
    filter: invert();
}

.quick-actions > button:hover, .quick-actions > button:focus {
    background: darkgrey;
}

.quick-actions > button:active, .quick-actions > button.active {
    background: black;
}