.color-picker input.picker-hue[type="range"] {
    -webkit-appearance: none;
    /*-webkit-appearance: slider-vertical;*/
    z-index: 1;
    position: absolute;
    top: 0;
    margin: 0 2.5%;
    width: 95%;
    height: 5%;
    /*min-height: 20px;*/
    top: 2.5%;
    overflow: hidden;
    border-right: 2px solid black;
    border-radius: 11px;
    /*background: linear-gradient(
        hsl(360, 100%, 50%) 0%,
        hsl(330, 100%, 50%) 8.33%,
        hsl(300, 100%, 50%) 16.66%,
        hsl(270, 100%, 50%) 25%,
        hsl(240, 100%, 50%) 33.33%,
        hsl(210, 100%, 50%) 41.66%,
        hsl(180, 100%, 50%) 50%,
        hsl(150, 100%, 50%) 58.33%,
        hsl(120, 100%, 50%) 66.66%,
        hsl(90, 100%, 50%)  75%,
        hsl(60, 100%, 50%)  83.33%,
        hsl(30, 100%, 50%)  91.66%,
        hsl(0, 100%, 50%)   100%
    );*/
  transform: rotate(90deg);
}
.color-picker input.picker-hue[type="range"]:focus {
  outline: none;
}
.color-picker input.picker-hue[type="range"]::-webkit-slider-runnable-track {
  height: 100%;
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: linear-gradient(to left,
        hsl(360, 100%, 50%) 0%,
        hsl(330, 100%, 50%) 8.33%,
        hsl(300, 100%, 50%) 16.66%,
        hsl(270, 100%, 50%) 25%,
        hsl(240, 100%, 50%) 33.33%,
        hsl(210, 100%, 50%) 41.66%,
        hsl(180, 100%, 50%) 50%,
        hsl(150, 100%, 50%) 58.33%,
        hsl(120, 100%, 50%) 66.66%,
        hsl(90, 100%, 50%)  75%,
        hsl(60, 100%, 50%)  83.33%,
        hsl(30, 100%, 50%)  91.66%,
        hsl(0, 100%, 50%)   100%
    );  
  /*transform: rotate(90deg);*/

  /*border-radius: 1.3px;*/
  /*border: 0.2px solid #010101;*/
}
.color-picker input.picker-hue[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
/*.color-picker input.picker-hue[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}*/
.color-picker input.picker-hue[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.color-picker input.picker-hue[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.color-picker input.picker-hue[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.color-picker input.picker-hue[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.color-picker input.picker-hue[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.color-picker input.picker-hue[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.color-picker input.picker-hue[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
.color-picker input.picker-hue[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}